body{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Geometria";
    src: url("Fonts/Geometria-Font/Geometria.ttf");
}

.main-container{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1450px) and (max-width: 2400px) {
    .dropdown{
        margin-left: 55px;
    }
    .blog{
        margin-left: 42px;
    }
    .sign-in{
        margin-left: 530px;
    }
    .partner-with-us-btn{
        margin-left: 100px;
    }
}

@media (min-width: 1200px) and (max-width: 1449px) {
    .dropdown{
        margin-left: 30px;
    }
    .blog{
        margin-left: 18px;
    }
    .sign-in{
        margin-left: 350px;
    }
    .partner-with-us-btn{
        margin-left: 100px;
    }
}

@media (min-width: 1000px) and (max-width: 1199px) {
    .dropdown{
        margin-left: 20px;
    }
    .blog{
        margin-left: 12px;
    }
    .sign-in{
        margin-left: 250px;
    }
    .partner-with-us-btn{
        margin-left: 70px;
    }
}

@media (min-width: 840px) and (max-width: 1000px) {
    .dropdown{
        /*margin-left: 5px;*/
    }
    .blog{
        margin-left: 8px;
    }
    .sign-in{
        margin-left: 150px;
    }
    .partner-with-us-btn{
        margin-left: 40px;
    }
}

@media (min-width: 768px) and (max-width: 839px) {
    .dropdown{
        /*margin-left: 5px;*/
    }
    .blog{
        margin-left: 2px;
    }
    .sign-in{
        margin-left: 115px;
    }
    .partner-with-us-btn{
        margin-left: 10px;
    }
}

.dropdown a{
    font-size: 16px;
    font-family: "Geometria", serif;
}

.nav-link{
    color: rgb(24, 25, 26) !important;
}

.nav-item{
    margin-bottom: 5px;
    margin-top: 5px;
}

.dropdown a:hover{
    color: #ffde00 !important;
}

.blog{
    font-size: 16px;
    font-family: "Geometria", serif;
    cursor: pointer;
}

.blog:hover{
    color: #ffde00;
}

.sign-in{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}


.user-icon{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/Ellipse-user-icon.png");
}

.sign-in a{
    font-size: 16px;
    font-family: "Geometria", serif;
    cursor: pointer;
}

.sign-in a:hover{
    color: #ffde00;
}

.partner-with-us-btn{
    font-size: 16px;
    font-family: "Geometria", serif;
    color: rgb(24, 25, 26);
    border: none;
    border-radius: 40px;
    outline: none;
    padding: 6px 16px;
    background-color: #ffde00;
    /*display: flex;*/
    cursor: pointer;
}

.search-container input{
    /*font-size: 16px;*/
    font-family: "Geometria", serif;
    color: rgb(120, 122, 128);
    padding: 12px 12px 12px 12px;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.rounded {
    border-radius: 0 !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}

.search-container button {
    font-family: "Geometria", serif;
    background: #ffde00;
    border: none;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bg-img-text{
    padding-bottom: 75px;
    padding-left: 40px;
}

@media (min-width: 300px) and (max-width: 768px) {
    .bg-img-text{
        padding-left: 0px;
    }
}

.bg-img-text h1{
    font-size: 60px;
    font-family: "Geometria", serif;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

 /*cards section*/
.cards-section{
    width: 100%;
    height: 100%;
    margin-top: -160px;
}

.cards-section h1{
    font-size: 33px;
    font-weight: 100;
    font-family: "SFUIDisplay", sans-serif;
    color: rgb(255, 255, 255);
    padding-bottom: 25px;
}

.card {
    box-shadow: 0 4px 28px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    border: none !important;
}

.card-header-image-text{
    font-size: 15px;
    font-family: "Geometria", serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
    width: 250px;
    padding-left: 20px;
}

.card-header-image-icon{
    padding-bottom: 15px;
    padding-right: 20px;
}

.palm-beach-resort{
    display: flex;
    align-items: center;
    height: 35px;
}

.palm-beach-resort p{
    font-size: 14px;
    font-family: "SFUIDisplay", sans-serif;
    color: rgb(24, 25, 26);
    font-weight: bold;
    padding-left: 8px;
    padding-top: 15px;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cards-inner-section {
    padding: 10px 18px;
    height: 250px;
}

.miami p {
    height: 0px;
    font-size: 14px;
    font-family: "Myriad Pro", sans-serif;
    color: #c9cccf;
    text-transform: uppercase;
}

.dates-range{
    display: flex;
    align-items: center;
    height: 35px;
}

.range{
    font-size: 14px;
    font-family: "SFUIDisplay", sans-serif;
    color: #c9cccf;
    text-transform: uppercase;
}

.card-dates{
    padding-left: 25px;
    font-size: 14px;
    font-family: "SFUIDisplay", sans-serif;
    color: rgb(43, 46, 51);
    font-weight: bold;
}

.age-and-type{
    display: flex;
    height: 22px;
}

.age{
    font-size: 14px;
    font-family: "SFUIDisplay", sans-serif;
    color: #c9cccf;
    text-transform: uppercase;
}

.type{
    padding-left: 90px;
    color: #c9cccf;
    font-size: 14px;
    font-family: "SFUIDisplay", sans-serif;
    text-transform: uppercase;
}

.age-and-sports{
    display: flex;
}

.age-and-sports p{
    font-size: 14px;
    font-family: "SFUIDisplay", sans-serif;
    color: rgb(43, 46, 51);
    font-weight: bold;
}

.sports{
    padding-left: 110px;
}

.view-schedules{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-btn{
    font-size: 16px;
    font-family: "Geometria", serif;
    font-weight: 600;
    color: rgb(24, 25, 26);
    width: 180px;
    height: 50px;
    background-color: #ffde00;
    border: none;
    border-radius: 30px;
}

.view-more{
    display: flex;
    justify-content: center;
}

.view-more-btn{
    font-size: 16px;
    font-family: "Geometria", serif;
    color: rgb(99, 104, 111);
    border: none;
    background: none;
    display: none;
    margin-top: 0px;
}

@media (min-width: 300px) and (max-width: 767px){
    .view-more-btn{
        display: flex;
    }
    .card-three{
        display: none !important;
    }
    .card-four{
        display: none !important;
    }
}



.third-section{
    /*width: 100%;*/
    height: 100%;
    margin-top: 120px;
    margin-bottom: 230px;
}

.third-section h1{
    font-weight: 400;
    padding-bottom: 15px;
}

.third-section-cards{
    padding-top: 28px;
}


/*FOURTH SECTION##*/
.fourth-section{
    height: 100%;
    background-color: #ffca00;
}

.fourth-section-container{
    padding-top: 68px;
    padding-bottom: 225px;
}

#whats-new{
    font-size: 30px;
    font-family: "SFUIDisplay", sans-serif;
    font-weight: 100;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.fourth-section hr{
    background-color: rgb(255, 255, 255); height: 1px; border: 0;
}

.card-and-img{
    display: flex;
    margin-top: 35px;
    background-color: #ffca00;
    margin-left: 0;
    margin-right: 0;
}

.fourth-section-card {
    background-color: white;
    box-shadow: 0 5px 30px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 642px;
    height: 100%;
}

/*#fourth-section-card{*/
/*    margin-left: 15px;*/
/*}*/

.fourth-section-card-container {
    padding-left: 25px;
    padding-top: 25px;
}

.read-more{
    display: flex;
    margin-top: 13px;
    margin-bottom: 20px;
}

.read-more img{
    margin: 6px;
}

.read-more a {
    font-size: 16px;
    font-family: "Geometria", serif;
    color: rgb(62, 141, 248);
    /*font-weight: bold;*/
    text-decoration: none;
}

.fourth-section-card-container h1 {
    font-size: 30px;
    font-family: "Geometria", serif;
    color: rgb(24, 25, 26);
    font-weight: 100;
}

.fourth-section-card-btn{
    font-size: 16px;
    font-family: "Geometria", serif;
    color: rgb(255, 255, 255);
    width: 100px;
    height: 40px;
    border-color: white;
    border-radius: 30px;
    background-color: Transparent;
    border-style: solid;
    margin: 30px;
}

.Blog {
    line-height: 3.75;
    position: absolute;
    left: 149.609px;
    top: 2249.603px;
    z-index: 223;
}


#fourth-section-card-btn{
    width: 115px;
}

.fourth-section-card-btn:hover{
    color: grey;
    border-color: grey;
}

.text-and-follow-btn{
    margin-left: 30px;
    margin-top: 165px;
}

.text-and-follow-btn h1{
    font-size: 30px;
    font-family: "Geometria", serif;
    color: rgb(255, 255, 255);
    font-weight: 100;
}

.follow-btn{
    font-size: 14px;
    font-family: "Geometria", serif;
    color: rgb(255, 255, 255);
    width: 110px;
    height: 30px;
    border-radius: 30px;
    background-color: #3e8df8;
    border: none;
    margin-top: 15px;
    margin-bottom: 30px;
}


/*fifth section*/
.fifth-section-first{
    margin-top: 90px;
}

#fifth-section-first-h1{
    font-size: 30px;
    font-family: "SFUIDisplay", sans-serif;
    font-weight: 100;
    color: rgb(255, 191, 0);
    text-transform: uppercase;
}

.fifth-section-first hr{
    color: rgb(255, 192, 0);
    border-style: solid;
}

.three-divs{
    display: flex;
    margin-top: 30px;
}

.first-div h1{
    font-size: 30px;
    font-family: "OpenSans", serif;
    color: rgb(24, 25, 26);
    font-weight: bold;
}

.first-div p{
    font-size: 14px;
    font-family: "OpenSans", serif;
    color: #747576;
    text-align: end;
    padding-right: 30px;
}

/*SIXTH SECTION*/
.sixth-section{
    display: flex;
    box-shadow: 0 10px 25px 0 rgba(0,0,0,0.2);
    margin-top: 160px;
    margin-left: 0px;
    margin-right: 0px;
}

.sixth-section-card{
    width: 100%;
    height: 100%;
    background-color: white;
}

.sixth-section-card-container{
    padding: 110px 25px;
}

.sixth-section-card-container h1{
    font-size: 60px;
    font-family: "Geometria", serif;
    line-height: 1;
    text-align: left;
}

.sixth-section-card-container p{
    font-size: 20px;
    font-family: "Geometria", serif;
    color: rgb(24, 25, 26);
    line-height: 1.5;
    margin-bottom: 40px;
    margin-top: 40px;
}

.get-started{
    width: 168px;
    height: 46px;
    font-size: 20px;
    font-family: "Geometria", serif;
    background-color: rgb(255, 222, 0);
    border-radius: 30px;
    border: none;
}

.its-free{
    font-size: 20px;
    font-family: "Geometria", serif;
    color: rgb(126, 133, 142);
    line-height: 3;
    padding-left: 26px;
}

.sixth-section-img{
    padding-right: 0;
    padding-left: 0;
}

/*SEVENTH SECTION*/
.seventh-section{
    margin-top: 125px;
}

.seventh-section h1 {
    font-size: 30px;
    font-family: "SFUIDisplay", sans-serif;
    font-weight: 100;
    color: rgb(255, 197, 40);
    text-transform: uppercase;
    line-height: 2;
}

.seventh-section p {
    font-size: 30px;
    font-family: "Butler", sans-serif;
    color: rgb(24, 25, 26);
    font-weight: bold;
    line-height: 2;
    display: contents;
}

.seventh-section span {
    font-size: 24px;
    font-family: "SFUIDisplay", sans-serif;
    color: rgb(126, 133, 142);
    line-height: 2.5;
    text-align: left;
    padding-left: 20px;
}

/*EIGHT SECTION*/
.eight-section{
    margin-top: 130px;
    margin-bottom: 70px;
}

@media (min-width: 300px) and (max-width: 768px) {
    .eight-section-img img{
        width: 100%;
        height: 100%;
    }
}

.eight-section hr{
    background-color: rgb(172, 180, 191);
    height: 1px;
}



/*FOOTER*/
.footer{
    background-color: rgb(24, 25, 26);
}

.footer-con{
    margin-top: 75px;
    margin-bottom: 230px;
}

.footer-text-and-icon{
    margin-top: 75px;
}

.footer-text-and-icon p{
    height: 10px;
    font-size: 16px;
    font-family: "Geometria", serif;
    color: rgb(255, 255, 255);
    line-height: 1;
}

.icons{
    display: flex;
}

.icon-ellipse{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/icon-ellipse.png);
    margin-right: 6px;
}

.footer-text{
    /*width: 300px;*/
    height: 175px;
}

.footer-text p{
    font-size: 15px;
    font-family: "Geometria", serif;
    color: rgb(255, 255, 255);
    line-height: 1.875;
    margin-top: 0;
    height: 16px;
}

.second-footer-text {
    height: 175px;
}

.second-footer-text p{
    font-size: 15px;
    font-family: "Geometria", serif;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.875;
    margin-top: 0;
    height: 16px;
}


.second-partner-with-us-btn {
    font-size: 16px;
    border-radius: 40px;
    border-style: solid;
    border-color: rgb(255, 222, 0);
    padding: 6px 16px;
    background-color: transparent;
    display: flex;
    font-family: "Geometria", serif;
    color: rgb(255, 222, 0);
}

.footer-con-md{
    margin-top: 75px;
    margin-bottom: 230px;
    display: none;
}

.footer-con-sm{
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 50px;
    display: none;
}

@media (min-width: 768px) and (max-width: 991px){
    .footer-con{
        display: none;
    }
    .footer-con-md{
        display: flex;
    }
    .footer-logo-and-text{
        width: 200px;
    }
    .second-footer-text {
        height: 100%;
        margin-top: 25px;
    }
    .footer-text{
        height: 100%;
        margin-top: 50px;
    }
    .footer-text-and-icon {
        margin-top: 120px;
    }
    .footer-text-and-icon p {
        display: flex;
        justify-content: end;
        padding-right: 10px;
    }
}

@media (min-width: 300px) and (max-width: 575px){
    .footer-con{
        display: none;
    }
    .footer-con-sm{
        display: flex;
        flex-direction: column;
    }
    .second-footer-text {
        height: 100%;
        margin-top: 30px;
    }
    .footer-text{
        height: 100%;
        margin-top: 30px;
    }
    .second-partner-with-us-btn{
        width: 230px;
        justify-content: center;
        margin-top: 30px;
    }
    .footer-text-and-icon {
        margin-top: 30px;
    }
}
